html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 50px;
}

.button-genre {
  margin: 2px 4px;
  border-radius: 0;
  border-color: rgba(79, 199, 255, 0.5);
}

.button-genre:hover {
  border-color: black;
}

.button-genre:first-child {
  margin-left: 0;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px 20px;
}

.main-title {
  font-family: "Bree Serif", serif;
  font-size: 2.1em;
}

.movies {
  background-color: black;

  align-content: center;
}
/* 
.movie-item {
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-left: 0;
} */

.card {
  max-width: 400px;
  margin: 20px;
  padding: 0;
}

.footer {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer p {
  margin: 0;
}

.slide img {
  height: 74vh;
  object-fit: cover;
}

.movie-detail {
  margin-top: 25px;
}
