body {
  display: block;
  margin: 0px;
}

.main-title {
  font-family: "Bree Serif", serif;
  font-size: 2.1em;
}

.card {
  max-width: 480px;
}

footer {
  height: 60px;
  width: 100%;
}

.slide img {
  height: 70vh;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px 20px;
}
