html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 50px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px 20px;
}

.main-title {
  font-family: "Bree Serif", serif;
  font-size: 2.1em;
}

.movies {
  display: flex;
  flex-direction: row;
}

.movie-item {
  padding-bottom: 0;
  margin-bottom: 20px;
}

.card {
  max-width: 400px;
  margin: 20px;
  padding: 0;
}

.footer {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer p {
  margin: 0;
}

.slide img {
  height: 70vh;
  object-fit: cover;
}

.movie-detail {
  margin-top: 25px;
}
